.Bottom {
  // border: dashed 1px green;
  // background-color: #419641;
  // background-color: #F5F4D8;
  // height: 100%;
  padding: 0.6em 0.8em;
  // margin: 0;
  color: gray;
  // font-size: 1.2em;
}
.Bottom a {
  text-decoration: underline;
}
