.main {
  background-color: slateblue;
  overflow-y: hidden;
}

.Map {
  // border: dashed 2px red;
  margin: 3px 253px 0px 302px;
}

.layers {
  // border: dashed 2px red;
  position: absolute;
  top: 44px;
  padding: 0;
  margin: 0;
  width: 299px;
  // overflow-y: scroll;
  // height: 90%;
  // background-color: slateblue;
  color: white;
}
.Layers h2 {
  padding: 8px 0 0 28px;
  color: darkslateblue;
  font-size: 20px;
}
