.WorkerList ul {
  // border: dashed 1px darkgreen;
  // margin: 0.4em 0.6em 0.4em 2em;
  padding: 0.4em 0.0em 0.4em 2.2em;
}

.WorkerList li:active,
.WorkerList li:hover,
.WorkerList li {
  border-bottom: solid 1px darkgreen;
  margin: 0;
  padding: 0.4em 0.6em;
  background-color: #a9e5aa;
  list-style: none;
  cursor: grab;
}

.WorkerDelete .Name {
  font-size: 120%;
  font-weight: bold;
}
.WorkerDelete button {
  margin: 2em 4em;
}
